.DS_Store
.merlin
.bsb.lock
.vscode
.history
npm-debug.log
/lib/bs/
/dist/bundle.js
/src/Demo.bs.js
/node_modules/*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

.merlin
*.install
*.coverage
*.sw[lmnop]

_build/
_doc/
_coverage/
_opam/

odoc.css
bench.tsv
_esy
node_modules
lib/bs
.bsb.lock
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

.merlin
*.install
*.coverage
*.sw[lmnop]

_build/
_doc/
_coverage/
_opam/

odoc.css
bench.tsv
_esy
node_modules
lib/bs
.bsb.lock
.melange.eobjs